<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clown_export-run_shield_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-21}</string>
                <key>spriteSize</key>
                <string>{351,379}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{1,1305},{351,379}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-23}</string>
                <key>spriteSize</key>
                <string>{345,375}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{1132,982},{345,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-17}</string>
                <key>spriteSize</key>
                <string>{319,387}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{1144,1},{319,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-19}</string>
                <key>spriteSize</key>
                <string>{317,383}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{1,1},{317,383}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-21}</string>
                <key>spriteSize</key>
                <string>{317,379}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{386,1},{317,379}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-23}</string>
                <key>spriteSize</key>
                <string>{317,375}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{767,1},{317,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-25}</string>
                <key>spriteSize</key>
                <string>{319,371}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{1533,1},{319,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-28}</string>
                <key>spriteSize</key>
                <string>{321,365}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{394,320},{321,365}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-29}</string>
                <key>spriteSize</key>
                <string>{321,363}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{761,320},{321,363}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-26}</string>
                <key>spriteSize</key>
                <string>{325,369}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{1521,322},{325,369}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-21}</string>
                <key>spriteSize</key>
                <string>{329,379}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{392,643},{329,379}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{337,389}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{1,966},{337,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-25}</string>
                <key>spriteSize</key>
                <string>{339,371}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{759,976},{339,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{347,393}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{1509,984},{347,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-15}</string>
                <key>spriteSize</key>
                <string>{355,391}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{382,1317},{355,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{359,387}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{1160,1333},{359,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-19}</string>
                <key>spriteSize</key>
                <string>{357,383}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{775,1329},{357,383}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-21}</string>
                <key>spriteSize</key>
                <string>{351,379}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{1,1305},{351,379}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-28}</string>
                <key>spriteSize</key>
                <string>{337,365}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{392,974},{337,365}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-29}</string>
                <key>spriteSize</key>
                <string>{335,363}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{1154,645},{335,363}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-26}</string>
                <key>spriteSize</key>
                <string>{333,369}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{1519,649},{333,369}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-21}</string>
                <key>spriteSize</key>
                <string>{329,379}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{773,645},{329,379}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-16}</string>
                <key>spriteSize</key>
                <string>{323,389}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{1,641},{323,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-14}</string>
                <key>spriteSize</key>
                <string>{321,393}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{1126,322},{321,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clown_export-run_shield_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-15}</string>
                <key>spriteSize</key>
                <string>{319,391}</string>
                <key>spriteSourceSize</key>
                <string>{405,421}</string>
                <key>textureRect</key>
                <string>{{1,320},{319,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>clown_export-run_shield.png</string>
            <key>size</key>
            <string>{1905,1693}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a983781c445a0b7e9085979405d3dd24:a616035f3eb281e2022320b001b195fd:2a2772cb7a26ae8df6742bf554ca9598$</string>
            <key>textureFileName</key>
            <string>clown_export-run_shield.png</string>
        </dict>
    </dict>
</plist>
