<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_2_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{1,1},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{405,1},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{809,1},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{1213,1},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{1617,1},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{2021,1},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{2425,1},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{2829,1},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{3233,1},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{1,382},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{405,382},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{809,382},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{1213,382},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{1617,382},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{2021,382},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{2425,382},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{2829,382},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{3233,382},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{1,763},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{405,763},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{809,763},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{1213,763},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{1617,763},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{2021,763},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{2425,763},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{2829,763},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{3233,763},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{1,1144},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{405,1144},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{809,1144},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{1,1},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{1213,1144},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{1617,1144},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{2021,1144},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{2425,1144},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{2829,1144},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2_0_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,379}</string>
                <key>spriteSourceSize</key>
                <string>{402,379}</string>
                <key>textureRect</key>
                <string>{{3233,1144},{402,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle_2_0.png</string>
            <key>size</key>
            <string>{3636,1524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:706e9f8edd77171da2333507a6608d75:cf51dbcf178e68d69a107051af6f6215:57728842c1866ffee21c350078f97d2a$</string>
            <key>textureFileName</key>
            <string>idle_2_0.png</string>
        </dict>
    </dict>
</plist>
