<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fly_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{1107,860}</string>
                <key>spriteSourceSize</key>
                <string>{1125,874}</string>
                <key>textureRect</key>
                <string>{{1,1},{1107,860}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{1107,860}</string>
                <key>spriteSourceSize</key>
                <string>{1125,874}</string>
                <key>textureRect</key>
                <string>{{1110,1},{1107,860}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{1107,860}</string>
                <key>spriteSourceSize</key>
                <string>{1125,874}</string>
                <key>textureRect</key>
                <string>{{2219,1},{1107,860}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{1107,860}</string>
                <key>spriteSourceSize</key>
                <string>{1125,874}</string>
                <key>textureRect</key>
                <string>{{1,863},{1107,860}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{1166,878}</string>
                <key>spriteSourceSize</key>
                <string>{1180,892}</string>
                <key>textureRect</key>
                <string>{{1110,863},{1166,878}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{1166,878}</string>
                <key>spriteSourceSize</key>
                <string>{1180,892}</string>
                <key>textureRect</key>
                <string>{{2278,863},{1166,878}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster2.png</string>
            <key>size</key>
            <string>{3445,1742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3adbc8554705277e335659625331c8f0:c071e2286ac002cdc8545454ccb04856:b5bf4b867d7f70bddd564306cad33291$</string>
            <key>textureFileName</key>
            <string>monster2.png</string>
        </dict>
    </dict>
</plist>
